<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdsu.sc.mapper.IssusdProjectMapper">
  <resultMap id="BaseResultMap" type="com.pdsu.sc.po.IssusdProject">
    <id column="ip_id" jdbcType="INTEGER" property="ipId" />
    <id column="ip_projectname" jdbcType="VARCHAR" property="ipProjectname" />
    <result column="en_id" jdbcType="INTEGER" property="enId" />
    <result column="ti_id" jdbcType="INTEGER" property="tiId" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="ip_briefintroduction" jdbcType="VARCHAR" property="ipBriefintroduction" />
    <result column="en_projectstate" jdbcType="INTEGER" property="enProjectstate" />
    <result column="en_statename" jdbcType="VARCHAR" property="enStatename" />
    <result column="en_issusdtime" jdbcType="VARCHAR" property="enIssusdtime" />
    <result column="en_projectover" jdbcType="VARCHAR" property="enProjectover" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ip_id, ip_projectname, en_id, ti_id, en_name, ip_briefintroduction, en_projectstate, 
    en_statename, en_issusdtime, en_projectover
  </sql>
  <select id="selectByExample" parameterType="com.pdsu.sc.po.IssusdProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_issusdproject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.pdsu.sc.po.IssusdProjectKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_issusdproject
    where ip_id = #{ipId,jdbcType=INTEGER}
    <if test="ipProjectname != null">
      and ip_projectname = #{ipProjectname,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pdsu.sc.po.IssusdProjectKey">
    delete from sc_issusdproject
    where ip_id = #{ipId,jdbcType=INTEGER}
    <if test="ipProjectname != null">
      and ip_projectname = #{ipProjectname,jdbcType=VARCHAR}
    </if>
  </delete>
  <delete id="deleteByExample" parameterType="com.pdsu.sc.po.IssusdProjectExample">
    delete from sc_issusdproject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pdsu.sc.po.IssusdProject">
    insert into sc_issusdproject (ip_id, ip_projectname, en_id, 
      ti_id, en_name, ip_briefintroduction, 
      en_projectstate, en_statename, en_issusdtime, 
      en_projectover)
    values (#{ipId,jdbcType=INTEGER}, #{ipProjectname,jdbcType=VARCHAR}, #{enId,jdbcType=INTEGER}, 
      #{tiId,jdbcType=INTEGER}, #{enName,jdbcType=VARCHAR}, #{ipBriefintroduction,jdbcType=VARCHAR}, 
      #{enProjectstate,jdbcType=INTEGER}, #{enStatename,jdbcType=VARCHAR}, #{enIssusdtime,jdbcType=VARCHAR}, 
      #{enProjectover,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pdsu.sc.po.IssusdProject">
    insert into sc_issusdproject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ipId != null">
        ip_id,
      </if>
      <if test="ipProjectname != null">
        ip_projectname,
      </if>
      <if test="enId != null">
        en_id,
      </if>
      <if test="tiId != null">
        ti_id,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="ipBriefintroduction != null">
        ip_briefintroduction,
      </if>
      <if test="enProjectstate != null">
        en_projectstate,
      </if>
      <if test="enStatename != null">
        en_statename,
      </if>
      <if test="enIssusdtime != null">
        en_issusdtime,
      </if>
      <if test="enProjectover != null">
        en_projectover,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ipId != null">
        #{ipId,jdbcType=INTEGER},
      </if>
      <if test="ipProjectname != null">
        #{ipProjectname,jdbcType=VARCHAR},
      </if>
      <if test="enId != null">
        #{enId,jdbcType=INTEGER},
      </if>
      <if test="tiId != null">
        #{tiId,jdbcType=INTEGER},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="ipBriefintroduction != null">
        #{ipBriefintroduction,jdbcType=VARCHAR},
      </if>
      <if test="enProjectstate != null">
        #{enProjectstate,jdbcType=INTEGER},
      </if>
      <if test="enStatename != null">
        #{enStatename,jdbcType=VARCHAR},
      </if>
      <if test="enIssusdtime != null">
        #{enIssusdtime,jdbcType=VARCHAR},
      </if>
      <if test="enProjectover != null">
        #{enProjectover,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pdsu.sc.po.IssusdProjectExample" resultType="java.lang.Long">
    select count(*) from sc_issusdproject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sc_issusdproject
    <set>
      <if test="record.ipId != null">
        ip_id = #{record.ipId,jdbcType=INTEGER},
      </if>
      <if test="record.ipProjectname != null">
        ip_projectname = #{record.ipProjectname,jdbcType=VARCHAR},
      </if>
      <if test="record.enId != null">
        en_id = #{record.enId,jdbcType=INTEGER},
      </if>
      <if test="record.tiId != null">
        ti_id = #{record.tiId,jdbcType=INTEGER},
      </if>
      <if test="record.enName != null">
        en_name = #{record.enName,jdbcType=VARCHAR},
      </if>
      <if test="record.ipBriefintroduction != null">
        ip_briefintroduction = #{record.ipBriefintroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.enProjectstate != null">
        en_projectstate = #{record.enProjectstate,jdbcType=INTEGER},
      </if>
      <if test="record.enStatename != null">
        en_statename = #{record.enStatename,jdbcType=VARCHAR},
      </if>
      <if test="record.enIssusdtime != null">
        en_issusdtime = #{record.enIssusdtime,jdbcType=VARCHAR},
      </if>
      <if test="record.enProjectover != null">
        en_projectover = #{record.enProjectover,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sc_issusdproject
    set ip_id = #{record.ipId,jdbcType=INTEGER},
      ip_projectname = #{record.ipProjectname,jdbcType=VARCHAR},
      en_id = #{record.enId,jdbcType=INTEGER},
      ti_id = #{record.tiId,jdbcType=INTEGER},
      en_name = #{record.enName,jdbcType=VARCHAR},
      ip_briefintroduction = #{record.ipBriefintroduction,jdbcType=VARCHAR},
      en_projectstate = #{record.enProjectstate,jdbcType=INTEGER},
      en_statename = #{record.enStatename,jdbcType=VARCHAR},
      en_issusdtime = #{record.enIssusdtime,jdbcType=VARCHAR},
      en_projectover = #{record.enProjectover,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdsu.sc.po.IssusdProject">
    update sc_issusdproject
    <set>
      <if test="enId != null">
        en_id = #{enId,jdbcType=INTEGER},
      </if>
      <if test="tiId != null">
        ti_id = #{tiId,jdbcType=INTEGER},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="ipProjectname != null">
        ip_projectname = #{ipProjectname,jdbcType=VARCHAR},
      </if>
      <if test="ipBriefintroduction != null">
        ip_briefintroduction = #{ipBriefintroduction,jdbcType=VARCHAR},
      </if>
      <if test="enProjectstate != null">
        en_projectstate = #{enProjectstate,jdbcType=INTEGER},
      </if>
      <if test="enStatename != null">
        en_statename = #{enStatename,jdbcType=VARCHAR},
      </if>
      <if test="enIssusdtime != null">
        en_issusdtime = #{enIssusdtime,jdbcType=VARCHAR},
      </if>
      <if test="enProjectover != null">
        en_projectover = #{enProjectover,jdbcType=VARCHAR},
      </if>
    </set>
    where ip_id = #{ipId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdsu.sc.po.IssusdProject">
    update sc_issusdproject
    set en_id = #{enId,jdbcType=INTEGER},
      ti_id = #{tiId,jdbcType=INTEGER},
      en_name = #{enName,jdbcType=VARCHAR},
      ip_projectname = #{ipProjectname,jdbcType=VARCHAR},
      ip_briefintroduction = #{ipBriefintroduction,jdbcType=VARCHAR},
      en_projectstate = #{enProjectstate,jdbcType=INTEGER},
      en_statename = #{enStatename,jdbcType=VARCHAR},
      en_issusdtime = #{enIssusdtime,jdbcType=VARCHAR},
      en_projectover = #{enProjectover,jdbcType=VARCHAR}
    where ip_id = #{ipId,jdbcType=INTEGER}
  </update>
</mapper>